<html>
    <head><title>Console</title></head>
    <link rel="stylesheet" type="text/css" href="/statics/main.css">
    <body>
        <h1></h1>
        <div style="margin: 15px;">
            <h2>User/Info</h2>
            <div style="margin: 15px;">
                <form method="POST" action="/user_info.update">
                    <label>Email</label>
                    {{username}}<br>
                    <label>Password</label>
                    <input type="password" name="password" value="{{password}}"><br>
                    <input type="submit" value="UPDATE">
                </form>
            </div>
        </div>

        <div style="margin: 15px;">
            <h2>AWS/Info</h2>
            <div style="margin: 15px;">
                <form method="POST" action="/aws_info.update">
                    <label>access_key_id</label>
                    <input type="text" name="aws_access_key_id" value="{{aws_access_key_id}}"><br>
                    <label>secret_key</label>
                    <input type="password" name="aws_secret_key" value="{{aws_secret_key}}"><br>
                    <label>region</label>
                    <input type="text" name="aws_region" value="{{aws_region}}"><br>
                    <input type="submit" value="UPDATE">
                </form>
            </div>
        </div>

        <div style="margin: 15px;">
            <table stylr="border: 1px solid black;"><thead><tr>
                
                <th>name</th><th>status</th><th>vpc_cidr_block</th><th>subnet_cidr_block</th><th>instance_type</th><th>image_type</th>
                <th>vpc_id</th><th>gateway_id</th><th>route_table_id</th><th>subnet_id</th><th>group_id</th>
                <th>key_name</th><th>instance_id</th>
            </tr></thead>
            <tr>
            {% for i in instance_infos %}
            
            <td>{{i.name}}</td><td>{{i.status}}</td><td>{{i.vpc_cidr_block}}</td><td>{{i.subnet_cidr_block}}</td>
            <td>{{i.instance_type}}</td><td>{{i.image_type}}</td>
            <td>{{i.vpc_id}}</td><td>{{i.gateway_id}}</td><td>{{i.route_table_id}}</td><td>{{i.subnet_id}}</td><td>{{i.group_id}}</td>
            <td>{{i.key_name}}</td><td>{{i.instance_id}}</td>
            {% endfor %}
            </tr>
            </table>
        </div>
        <div style="margin: 15px;">
            <h2>New Instance</h2>
            <div style="margin: 15px;">
                <form method="POST" action="/inst.new">
                    <label>name</label>
                    <input type="text" name="name" value="advent-instance"><br>
                    <label>vpc_cidr</label>
                    <input type="text" name="vpc_cidr_block" value="10.1.0.0/16"><br>
                    <label>subnet_cidr</label>
                    <input type="text" name="subnet_cidr_block" value="10.1.0.0/24"><br>
                    <label>instance_type</label>
                    <input type="text" name="instance_type" value="t2.micro"><br>
                    <label>image_type</label>
                    <input type="text" name="image_type" value="ami-0cd744adeca97abb1"><br>
                    <input type="submit" value="UPDATE">
                </form>
            </div>
        </div>
        
    </body>
</html>
